.bill-calculator {
  max-width: 920px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 24px;
  margin-top: 83px;
  /* min-height: 400px; */
  padding: 32px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.results {
  background-color: hsl(183, 100%, 15%);
  border-radius: 16px;
  padding: 44px 40px;
  padding-bottom: 41px;
  padding-right: 41px;
  font-family: 'Space Mono', monospace;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.results__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 27px;
}

.results__title {
  color: hsl(189, 41%, 97%);
  font-size: 15px;
  text-align: left;
  letter-spacing: 0.5px;
}
.results__per-person {
  color: hsl(184, 14%, 56%);
  font-size: 13px;
  text-align: left;
}

.results__number {
  font-size: 46px;
  color: hsl(172, 67%, 45%);
}

.btn {
  background: none;
  border: none;
  font-family: 'Space Mono', monospace;
}

.btn--reset {
  display: block;
  background-color: hsl(183, 79%, 24%);
  color: hsl(184, 92%, 20%);
  opacity: 1;
  padding: 10px 0;
  border-radius: 3px;
  width: 100%;
  font-size: 20px;
  text-transform: uppercase;
  transition: all ease 300ms;
}

.btn--reset--active {
  background-color: hsla(172, 67%, 45%, 1);
  color: hsla(183, 100%, 15%, 1);
  opacity: 1;
}

.btn--reset--active:hover {
  background-color: hsl(185, 41%, 84%);
}

.input-data {
  text-align: left;
  padding: 16px;
  padding-right: 18px;
  padding-top: 13px;
}

.input-data h3 {
  text-transform: capitalize;
  font-size: 16px;
  font-family: 'Space Mono', monospace;
  color: hsl(186, 14%, 43%);
  margin-bottom: 6px;
}

.tip-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* gap: 14px; */
  column-gap: 14px;
  row-gap: 16px;
}

.tip-form div {
  position: relative;
  height: 48px;
  border-radius: 6px;
  overflow: hidden;
}

.tip-form label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: hsl(189, 41%, 97%);
  font-size: 24px;
  font-family: 'Space Mono', monospace;
}

.tip-form input {
  opacity: 0;
  max-width: 100%;
  height: 100%;
  text-align: right;
}

.checkmark {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: hsl(183, 100%, 15%);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all ease 200ms;

  /* opacity: 0; */
}

input:checked ~ .checkmark {
  background-color: hsl(172, 67%, 45%);
}

input:checked ~ label {
  color: hsl(183, 100%, 15%);
}

#custom-tip {
  font-family: 'Space Mono', monospace;
  opacity: 1;
  color: hsl(183, 100%, 15%);
  background-color: hsl(189, 41%, 97%);
  border: none;
  max-width: 100%;
  min-width: 0;
  display: inline-block;
  padding: 10px;
  font-size: 24px;
  border-radius: 6px;
  height: 48px;
  caret-color: hsl(172, 67%, 45%);
  outline-color: hsl(172, 67%, 45%);
  padding-left: 14px;
}

#custom-tip::placeholder {
  font-size: 24px;
  text-transform: capitalize;
  text-align: left;
  color: hsl(186, 14%, 43%);
}

.input-data__section {
  margin-bottom: 40px;
}
.input-data__section:last-child {
  margin-bottom: 0px;
}

#bill {
  display: block;
  width: 100%;
  height: 48px;
  background-color: hsl(189, 41%, 97%);
  border: none;

  font-size: 24px;
  border-radius: 6px;
  color: hsl(183, 100%, 15%);
  text-align: right;
  font-family: 'Space Mono', monospace;
  padding: 5px 17px;
  caret-color: hsl(172, 67%, 45%);
  outline-color: hsl(172, 67%, 45%);
  outline-offset: -1px;
}
#bill::placeholder {
  font-size: 24px;
  color: hsl(184, 14%, 56%);
}
#bill:active {
  border-color: hsl(172, 67%, 45%);
}

#people {
  display: block;
  width: 100%;
  height: 48px;
  background-color: hsl(189, 41%, 97%);
  border: none;

  font-size: 24px;
  border-radius: 6px;
  color: hsl(183, 100%, 15%);
  text-align: right;
  font-family: 'Space Mono', monospace;
  padding: 5px 17px;
  caret-color: hsl(172, 67%, 45%);
  outline-color: hsl(172, 67%, 45%);
}
#people::placeholder {
  font-size: 24px;
  color: hsl(184, 14%, 56%);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.input-data .heading--tip {
  margin-bottom: 16px;
}

.people--container {
  display: flex;
  justify-content: space-between;
}

.heading--people {
  display: inline;
}
.zero-warning {
  display: inline;
  font-family: 'Space Mono', monospace;
  color: #ce380f;
  opacity: 0;
}

.input-data__section--people--empty .zero-warning {
  opacity: 1;
}

.input-data__section--people--empty #people {
  outline-color: #ce380f;
}

@media (max-width: 700px) {
  .bill-calculator {
    max-width: 600px;

    display: grid;
    grid-template-columns: 1fr;
  }

  .tip-form {
    grid-template-columns: repeat(2, 1fr);
    /* gap: 14px; */
    column-gap: 14px;
    row-gap: 16px;
  }
}
