.container {
  margin-top: 153px;
  text-align: center;
}

.container--text {
  font-family: 'Space Mono', monospace;
}

.heading {
  font-family: 'Space Mono', monospace;
}

.heading--primary {
  color: hsl(183, 100%, 15%);
  opacity: 0.8;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 24.5px;
  line-height: 1.5;
  padding-left: 10px;
  /* transform: scale(0.99); */
}
